.Tarjeta {
    background: whitesmoke;
    border-radius: 1.5rem;
    box-shadow: black.0;
    cursor: pointer;
    transition: box-shadow 0.7s;
  }
  
  .Tarjeta:hover {
    box-shadow: lightslategray;
  }
  
  .Tarjeta img {
    width: 100%;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
  }
  
  .Tarjeta div {
    padding: 1rem;
    text-align: center;
  }
  
  .Tarjeta div h3 {
    color: var(--text);
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  
  .Tarjeta div p {
    color: var(--text);
    font-size: 1.6rem;
    font-weight: 600;
  }