@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,600;1,600&family=Russo+One&display=swap');

header {
    background:gray;
  }
  
  header .container {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  header h1 {
    color: whitesmoke;
    font-family: "Kanit";
    font-size: 5rem;
    margin-bottom: 0rem;
  }
  
  header nav ul {
    display: flex;
  }
  
  header nav ul li {
    margin: 0 3rem;
  }
  
  header nav ul li a {
    color: gainsboro;
    font-size: 1.5rem;
    position: relative;
  }
  
  header nav ul li a::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.2rem;
    background: gainsboro;
    position: absolute;
    bottom: -0.5rem;
    opacity: 0;
    transition: opacity 0.2s;
  }
  
  header nav ul li a:hover::after {
    opacity: .7;
  }
  